.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__weather {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.header__weather > * {
  margin: 0;
  font-size: 2.5em;
}

.header__call {
  margin: 0;
  line-height: 0.8;
}

.header__button {
  margin: 0;
  border: 0;
  padding: 0 20px;
  background-color: rgb(65, 65, 65);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-left: auto;
  font-size: 16px;
  line-height: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
